@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

html {
  background-color: white;
  padding-left: 20px;
}

img {
  border-radius: 30px;
  border: 10px dashed grey;
  opacity: 0.5;
}

h1 {
  font-family: "Poetsen One", sans-serif;
}

body {
  background-color: pink;
  text-align: center;
}
h1 {
  font-family: italic;
}
